<div id="header">
    GoodbyeWorld!
</div>
<div id="explain">
    別れたLINEのスクリーンショットを共有するサイト
</div>
    


<% @images.each do |i| %>
<p><%= i.name %></p>
<img id="imagesize" src = <%= i.image %>>

<% end %>




